.border {
    margin-left: 5%;
    border: 2px solid black;
    padding: 10px; /* Añade relleno para separar el contenido de los bordes */
}

.subrayado {
    text-decoration: underline;
}


.inputlikediv {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 10px;
    background-color : #E2E0E0;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #000; 
  }
  
