.spacingLateral {
    padding-left: 0%; /* 5% del ancho de la ventana del navegador */
    padding-right: 0%; /* 5% del ancho de la ventana del navegador */
}

.contenidoCentro{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidoFinal{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.espacioNombreUsuario{
    padding-right: 30px;
}

.colorligthblue{
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #3795EE ;
}